/*Couleur*/
/*

#1

/*backgroud #FFF;
/*hover/block: #ff3f34;
/*texte: #8a8c90;
/*H1:#000; #2727;

#2

/*background: #FFF;
/*hover/block: #F5cba7;/#

/*Header Main*/

/*header {
  height: 600px;
}*/
.navtruc{
    height:80px;
}
.space {
  height: 70px;
  background-color: #FFF;
}

/*.decoration{
    height: 700px;
    background-image:url(img/deco.jpg);
     background-size: cover;
}
.traiteur{
    height: 700px;
    background-image:url(img/img10.jpg);
     background-size: cover;
}
.location{
    height: 700px;
    background-image:url(img/header-location.jpg);
     background-size: cover;
}*/

/*Paramètre images des services*/

.img-left-background {
	background-image: url(img/deco.jpg);
}

.img-center-background {
	background-image: url(img/img10.jpg);
}

.img-right-background {
	background-image: url(img/header-location.jpg);
}

.img-left-background,
.img-center-background,
.img-right-background {
	position: absolute;
	z-index: -1;
	min-height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 2s;
}

.img-foreground {
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.font_title{
    font-family: 'Roboto';
}
.entre {
    width: 80%;
    height: 70px;
    background-color: rgba(255, 63, 52, 0.40);/*rgba(0,0,0,0.65);*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: monospace;
}
/* fin */
.trait{
    color:white;
    background-color:#ff3f34;
    height:100px;
    margin-top:220px;
    padding-top:20px;
    width:auto;
    opacity:0.9;   
}
.hover:hover{
background: #F5cba7;
}
.trait h5{
    font-size:35px;
}
.nopadding{
    padding:0px;
}

.bg-default {
	padding: 100px 0;
}

.mid-text {
	margin: auto;
	float: none;
}

.bg-primary {
	padding: 50px 0;
	background-color: white;
}

.parallax-window {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.bg-mid {
	background-image: url(img/header4.jpg);
  background-size: cover;
  background-position: 25% 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
}*/

/*.bg-last {
  background-image: url(img/footer.jpg);
  background-size: cover;
  background-position: 25% 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*.bg-white {
  width: 100%;
  height: 10px;
}*/

h1 {
	padding: 0 0 30px 0;
  font-size: 50px;
}

.bg-primary h2 {
	padding: 30px 0 30px 0;
  font-weight: 700;
}

h2 {
  padding: 0 0 30px 0;
  color: #666;
}

h3 {
  color: #272727;
  font-size: 35px;
  width: 550px;
}

.well-h3 {
  background-color: white;
  padding: 15px 0;
  text-align: center;
}

p {
	font-family: "Roboto";
	font-size: 15px;
  color: #5A5E6B;
  /*font-style: italic;*/
}

.bg-default h1 {
  padding-top: 55px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}

.pic {
  width: 250px;
  height: 200px;
}

.pad {
  padding: 0 50px;
}

.bloc-img {
  width: 545px;
  height: 445px;
  padding-right: 15px;
  padding-top: 15px;
  /*background-color: #cc90ce;*/
  margin-top: -55px;
}

.col-md-6 {
  padding: 0;
}

.effect {
  width: 250px;
  height: 200px;
  background: #e97f8e;
  position: relative;
  margin-bottom: 15px;
}

.effect:hover img {
  opacity: 0.3;
  transition: all 0.50s;
}

.effect:hover .overlay {
  opacity: 1;
}

.overlay {
  width: 250px;
  height: 200px;
  display: block;
  position: absolute;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  padding-top: 75px;
  font-size: 45px;
}

.carous-text {
  margin: auto;
  text-align: center;
  color: white;
  font-family: 'Great Vibes';
  font-size: 40px;
/*  font-weight: bold;*/
}

.carous-text-name {
  margin: auto;
  text-align: center;
  color: #EDEDED;
  font-family: 'Roboto';
  font-size: 20px;
/*  font-weight: bold;*/
}

.carous-inner2 {
  height: 200px;
}
.block_2{
    background-image:url(img/img-1.jpeg);
    height:350px;
    background-size:cover;
    margin-top:20px;
}
