/* formulaire de contact - image de fond */
.block_1{
    margin-top:80px;
    background-color:white;
    height:800px;
}
.nopadding{
    padding:0px;
}
.block_3 label{
        margin-left: 20px;
    margin-right: 20px;
    
}
.block_3{
    height:100px;
    margin-top:50px;
}
