/* formulaire de contact - image de fond */
.block_1{
    margin-top:80px;
    background-color:white;
    height:800px;
}
.nopadding{
    padding:0px;
}
.block_3 label{
        margin-left: 20px;
    margin-right: 20px;
    
}
.block_3{
    height:100px;
    margin-top:50px;
}
.partenaire{
    border:2px solid #ADA6C7;
    height: 400px;
    margin-top: 25px;
    font-size:20px;
    margin-left:75px;
    
}
.partenaire h4{
    font-size: 25px;
    text-decoration: underline;
}