/* formulaire de contact - image de fond */

h4{
    font-family: 'Roboto', sans-serif;
}

aside > p{
    font-size: 13px;
    font-family: 'Roboto' sans-serif;
}

aside a{
    color: #272727;
}

aside a:hover{
    color:#ff3f34;
    text-decoration: none;
}

label{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.rebel{
    background-color: color: red;
    padding-left: 20px;
}

/*
.checkbox input{
    margin-top:0;
}
*/
.block_1{
    margin-top:80px;
    background-color:white;
    height:800px;
}
.nopadding{
    padding:0px;
}
/*.block_3 label{
    margin-left: 20px;
    margin-right: 20px;
}*/

/*.block_3{
    height:100px;
    margin-top:50px;
}*/
.partenaire{

    font-size:20px;
}
.partenaire h4{
    font-size: 25px;
    text-decoration: underline;
}
h4{
    margin-top: 40px;
    margin-bottom: 17px;
}
h2{
    margin-bottom:50px;
}
/*
.presta .checkbox{
    display:inline-block;
    margin-right: 70px;
}
*/
/*
.type .checkbox{
    display: inline-block;
    margin-right:50px;
}
*/
.numb{
    width:75px;
}
.date{
    width:110px;
}
